html {
  max-width: 70ch;
  padding: 0 1em;
  margin: auto;
  line-height: 1.75;
  font: 1.25em system-ui;
  background-color: rgb(235, 235, 240);
  color: rgb(36, 36, 38);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgb(0, 64, 221);
}

a:visited {
  color: rgb(137, 68, 171);
}

a:active {
  color: rgb(211, 15, 69);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(36, 36, 38);
    color: rgb(235, 235, 240);
  }

  a {
    color: rgb(64, 156, 255);
  }

  a:visited {
    color: rgb(218, 143, 255);
  }

  a:active {
    color: rgb(255, 100, 130);
  }
}
