html {
  max-width: 70ch;
  padding: 0 1em;
  margin: auto;
  line-height: 1.75;
  font: 1.25em system-ui;
  background-color: white;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #007bff;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: #e0e0e0;
  }

  a {
    color: #1e90ff;
  }
}
